@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply font-primary;
}

input:focus {
  @apply outline-none;
}

select:focus {
  @apply outline-none;
}

select > option {
  @apply text-red;
}

/* reused styles */
.btn {
  @apply cursor-pointer
  px-3;
}
.custom-scrollbar::-webkit-scrollbar {
  @apply w-2;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#3c2249] rounded-full;
}
/* urgent task styles  */
span.urgent {
  @apply bg-red_500/20
  text-red_400
  border-red_500/20;
}
input.urgent {
  @apply border-red_500/50 checked:bg-red_500 checked:border-red_500;
}

/* important task styles */
span.important {
  @apply bg-yellow_500/20 text-yellow_400 border-yellow_500/20;
}

input.important {
  @apply border-yellow_500/50 checked:bg-yellow_500/80 checked:border-yellow_500;
}

/* normal task styles */

span.normal {
  @apply bg-green_500/20 text-green_400 border-green_500/20;
}

input.normal {
  @apply border-green_500/50 checked:bg-green_500/80 checked:border-green_500;
}

/* Styles */
.aside.active {
  @apply translate-x-0;
}
.navbar_item {
  @apply min-w-52
  px-3
  py-2
  rounded-lg
  flex
  gap-3
  items-center
  cursor-pointer
  duration-300;
}
.navbar_item:hover {
  @apply bg-white_10;
}
.navbar_item.active {
  @apply bg-Vivid_Violet;
}
.overlay {
  @apply w-screen
  h-screen
  z-30
  md:z-[41]
  inset-0
  fixed
  invisible
  backdrop-blur-sm
  duration-200
  opacity-0;
}
.overlay.active {
  @apply opacity-100
  visible;
}
/* task-options */
.task-option {
  @apply px-[10px] md:px-4 py-2  text-white_40 rounded-xl duration-200 text-xs md:text-sm capitalize;
}
.task-option.active {
  @apply text-white bg-Vivid_Violet;
}
.task-option:hover {
  @apply text-white;
}
/* custom select */
.arrow.active {
  @apply rotate-[180deg];
}
.custom-select {
  @apply cursor-pointer;
}
.custom-select .result {
  @apply flex gap-1 items-center cursor-pointer text-[rgb(175_37_244)] font-bold uppercase text-xs md:text-sm;
}
.select_list {
  @apply duration-200  absolute left-0 w-full origin-top top-[calc(100%+10px)] overflow-hidden rounded-lg;
}
.select-element {
  @apply cursor-pointer py-2 px-3 bg-Vivid_Violet hover:bg-Vivid_Violet/85 duration-200 text-sm capitalize;
}

/* modal */
.modal {
  @apply top-1/2 
  left-1/2 
  -translate-x-1/2 
  -translate-y-1/2
  w-full 
  max-w-md
  scale-0 
  opacity-0
  transition-all 
  duration-300 
  z-40 
  md:z-[42]
  px-5
  sm:p-0;
}
.modal-container {
  @apply bg-Soft_Lavender 
  dark:bg-Deep_Midnight 
  rounded-lg;
}
.modal.active {
  @apply scale-100 opacity-100;
}

.modal .input_label {
  @apply text-sm text-slate-300 block;
}
.modal input[type="text"]::placeholder,
.modal textarea::placeholder {
  @apply text-slate-500;
}
.modal input[type="text"],
.modal textarea,
.modal input[type="date"],
.category {
  @apply p-2 pl-3 w-full bg-white_5 rounded-lg text-base focus:outline-none focus:outline-Vivid_Violet;
}

.modal input[type="date"]::-webkit-calendar-picker-indicator {
  @apply invert;
}

/* modal priorty  */

.priorty-btn {
  @apply flex items-center justify-center gap-2 py-2 px-3 sm:py-3 sm:px-4 bg-white_5 rounded-lg border border-white_10 cursor-pointer text-xs sm:text-sm capitalize hover:bg-white_10 text-slate-400 h-full w-full;
}
